{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-sass-guidelines",
    "stylelint-config-prettier"
  ],
  "rules": {
    "declaration-bang-space-before": null,
    "max-nesting-depth": null,
    "selector-no-qualifying-type": null,
	"declaration-block-trailing-semicolon": null,
    "no-descending-specificity": null,
	"scss/at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "@tailwind",
		  "tailwind",
          "apply",
          "variants",
          "responsive",
          "screen",
        ],
      },
    ],
  }
}
